# Node
## Ignorieren der Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Ignorieren des Abhängigkeitsordner
node_modules/

# Ignoriere lokale Editoreinstellungen 
.vscode 

# Ignoriere Git-Repository-Dateien 
.git 

# Ignoriere den Build-Ordner 
dist 
build 

# Ignoriere ESLint, Prettier und andere Konfigurationsdateien, die im endgültigen Image nicht benötigt werden 
.eslint* 
.prettier* 
.editorconfig 
.DS_Store

# Ignorieren der Variablendatei
.env