.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1rem;
  color: white;
  background-color: #10353a;
  padding: 1rem;
  margin: 0.25rem;
  border-radius: 15px;

  li {
    list-style: none;

    .list-item {
      margin: 1rem;
      background-color: rgb(58, 146, 164, 0.5);
      border: 2px solid #f99a2e;
      padding: 0.75rem;
      border-radius: 10px;
      color: white;
      width: 25rem;
    }
  }
}
